/* 
    General Styles used on every website (Don't Repeat Yourself)
*/

/* AboutCharacterPage Styles------------------------------------------------------------------------ */
.ACP-page {
    margin: 1rem;
}
.ACP-container {
    display: flex;
    align-items: center;
}
.ACP-container > img {
    width: 500px;
    height: auto;
}